{% extends "bootstrap_base.html" %}
{% load static %}
{% block custom-css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}
<!-- if overriding this one, remember to use {{ block.super}} at the beginning, otherwise jquery won't be loaded -->
{% block head %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <title>{% block title %}Revis Bali CRM{% endblock %}</title>
    {% block head-extra %}
    {% endblock %}
    {% block head-scripts %}
        <script
            src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous">
        </script>
        <!-- Select2 -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    {% endblock %}
    {% block head-after-jquery %}
    {% endblock %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center flex-column">
    <h1 class="mb-4 text-center">Welcome to Revis Bali CRM</h1>
    <img class="mb-4" src="{% static 'logo_revis_bw.png' %}" alt="Revis Bali Logo" style="width: 70%;">
</div>
{% endblock %}
{% block navbar-links %}
<div class="collapse navbar-collapse" id="navbarTop">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarAdmin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarAdmin">
              <li><a class="dropdown-item" href="#">
                  Item</a></li>
              <li><a class="dropdown-item" href="#">
                  Item</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Item</a></li>
            </ul>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Page</a>
        </li>


        <li class="nav-item">
            {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            {% endif %}
        </li>
    </ul>
</div>
{% endblock %}
{% block sidebar %}
    <nav id="sidebar">
    <div class="text-center">
            <div class="mb-4">
                <img id=logo
                    src="{% static 'logo_revis_bw_inverted_transparent.png' %}"
                    alt="Revis Bali Logo"
                    style="width: 90%;">
                <h3>CRM Platform</h3>
            </div>
            <hr />
            <!-- Login/Logout links -->
            <div>
                {% if user.is_authenticated %}
                <p>Logged in as:</br>&lt;{{ user.username }}&gt;</p>
                {% else %}
                <p>Not Logged in</p>
                {% endif %}
            </div>
        </div>
    <hr />
    <ul class="list-unstyled components">
    {% if user.is_authenticated %}
        <li>
            <a href="#customerSubmenu"
                data-bs-toggle="collapse"
                aria-expanded="false"
                role="button"
                class="dropdown-toggle">Customers</a>
                <ul class="collapse list-unstyled"
                    id="customerSubmenu">
                    <li>
                        <a href="/customers/list">List</a>
                    </li>
                    <li>
                        <a href="/customers/create">Add new</a>
                    </li>
                </ul>
        </li>
        <li>
            <a href="#productSubmenu"
                data-bs-toggle="collapse"
                aria-expanded="false"
                role="button"
                class="dropdown-toggle">Products</a>
                <ul class="collapse list-unstyled"
                    id="productSubmenu">
                    <li>
                        <a href="/products/list">List</a>
                    </li>
                    <li>
                        <a href="/products/create">Add new</a>
                    </li>
                </ul>
        </li>
        <li>
            <a href="#customerApplicationSubmenu"
                data-bs-toggle="collapse"
                aria-expanded="false"
                role="button"
                class="dropdown-toggle">Customer Applications</a>
                <ul class="collapse list-unstyled"
                    id="customerApplicationSubmenu">
                    <li>
                        <a href="/customer_applications/list">List</a>
                    </li>
                    <li>
                        <a href="/customer_applications/create">Add new</a>
                    </li>
                </ul>
        </li>
    {% endif %}
    <li>
        <a href="#">About</a>
    </li>
    </ul>

    {% if user.is_authenticated %}
        <ul class="list-unstyled " >
        <li>
        <a href="{% url 'logout' %}">Logout</a>
        </li>
        </ul>
    {% endif %}
    </nav>
{% endblock %}
{% block footer %}
    {% if request.path == '/' %}
        <footer class="text-end text-secondary fst-italic mt-5">
            <p>&copy; 2023 Revis Bali CRM. All rights reserved.</p>
        </footer>
    {% endif %}
    {% block footer-scripts %}
        <!-- Initialize Select2 -->
        <script>
            $(document).ready(function() {
                $('.select2').select2();
            });
        </script>

        {% block body-after-jquery %}
        {% endblock %}
    {% endblock %}
{% endblock %}