:host {
  display: block;
}

.image-magnifier-wrapper {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.image-magnifier-link {
  display: block;
  width: fit-content;
  max-width: 100%;
}

.image-magnifier-image {
  display: block;
}

.image-magnifier-toggle {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 3;
  background-color: rgb(255 255 255 / 85%);
  border: 1px solid rgb(0 0 0 / 8%);
}

.image-magnifier-lens {
  position: absolute;
  z-index: 2;
  border: 2px solid rgb(255 255 255 / 70%);
  border-radius: 9999px;
  box-shadow: 0 6px 18px rgb(0 0 0 / 30%);
  pointer-events: none;
  opacity: 0;
  transform: scale(0.96);
  transition:
    opacity 120ms ease,
    transform 120ms ease;
  background-repeat: no-repeat;
}

.image-magnifier-lens.active {
  opacity: 1;
  transform: scale(1);
}

@media (hover: none), (pointer: coarse) {
  .image-magnifier-lens {
    display: none;
  }
}
