{% extends "base_template.html" %}
{% load static %}
{% block content %}
<h1>Database Backup</h1>


<div style="margin-bottom:1em">
  <input type="checkbox" id="include-users" name="include-users">
  <label for="include-users">Include users/groups/permissions (full backup)</label>
</div>
<button id="start-backup" class="btn btn-primary" data-backup-url="{% url 'admin_tools:backup_start' %}">Start Backup</button>

<h3>Live log</h3>
<pre id="log" style="background:#111;color:#eee;padding:1rem;max-height:300px;overflow:auto;"></pre>

<h3>Available backups</h3>
<ul>
  {% for b in backups %}
    <li>{{ b }} - <a href="{% url 'admin_tools:download_backup' b %}">download</a></li>
  {% empty %}
    <li>No backups yet</li>
  {% endfor %}
<ul>

{% endblock %}

{% block after-bootstrap-js %}
    {{ block.super }}
    <script src="{% static 'js/admin_tools/backup_restore.js' %}"></script>
{% endblock %}
