<form class="d-inline-flex align-items-center mb-2" style="border: 1px solid;" unicorn:submit.prevent="search">
  <div style="position: relative;">
    <div class="d-flex align-items-center">
      <!-- Search input -->
      <div class="input-group-text col-md-auto">
        <button type="submit" class="btn btn-link p-0 border-0" style="background: none;">
          <i class="bi bi-search mr-2"></i>
        </button>
        <div unicorn:ignore>
          <input type="text" class="form-control"
            name="search_input"
            unicorn:model.defer="search_input"
            placeholder="{{placeholder|default:'Search...'}}"
            id="id_search_input">
        </div>
      </div>
      <!-- Extra HTML -->
      {% if extra_html %}
          {% include extra_html %}
      {% endif %}
      <div unicorn:loading id="spinner" class="spinner-border text-primary" style="position: absolute; top: 5px;left: -70px;">
      </div>
    </div>
  </div>
</form>
