<div class="pagination d-flex justify-content-center mt-3">
    <table style="width: 350px;">
      <tr>
        <td style="width: 20%; text-align: center;">
          {% if has_previous %}
            <button class="btn btn-secondary btn-sm" unicorn:click="previous_page">« First</button>
          {% else %}
            <button class="btn btn-secondary btn-sm" disabled style="visibility: hidden;">« First</button>
          {% endif %}
        </td>

        <td style="width: 13%; text-align: center;">
          {% if has_previous %}
            <button class="btn btn-secondary btn-sm" unicorn:click="previous_page">Previous</button>
          {% else %}
            <button class="btn btn-secondary btn-sm" disabled style="visibility: hidden;">Previous</button>
          {% endif %}
        </td>

        <td style="width: 34%; text-align: center;">
          <button class="btn btn-info disabled btn-sm">Page {{ page }} of {{ total_pages }}</button>
        </td>

        <td style="width: 13%; text-align: center;">
          {% if has_next %}
            <button class="btn btn-secondary btn-sm" unicorn:click="next_page">Next</button>
          {% else %}
            <button class="btn btn-secondary btn-sm" disabled style="visibility: hidden;">Next</button>
          {% endif %}
        </td>

        <td style="width: 20%; text-align: center;">
          {% if has_next %}
            <button class="btn btn-secondary btn-sm" unicorn:click="next_page">Last »</button>
          {% else %}
            <button class="btn btn-secondary btn-sm" disabled style="visibility: hidden;">Last »</button>
          {% endif %}
        </td>
      </tr>
    </table>
</div>