{% load check_perms %}

{% if user|has_perm:'customer_applications,docapplication,can_audit' %}
<div class="card-footer text-muted">
    <table>
        <tr>
        <th scope="row" class="text-start">Created By</th>
        <td class="text-start">
            <small style="margin-left: 20px;">
            {{ model.created_by }}
            (Created At: {{ model.created_at|date:"Y-m-d H:i" }})
            </small>
        </td>
        </tr>
        {% if docapplication.created_at|date:"Y-m-d H:i" != docapplication.updated_at|date:"Y-m-d H:i" %}
        <tr>
        <th scope="row" class="text-start">Updated By</th>
        <td class="text-start">
            <small style="margin-left: 20px;">
            {{ model.updated_by }}
            (Last Updated At: {{ model.updated_at|date:"Y-m-d H:i" }})
            </small>
        </td>
        </tr>
        {% endif %}
    </table>
</div>
{% endif %}