{% load check_perms %}
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Doc.Type</th>
        <th scope="col">Doc. Number</th>
        <th scope="col">Expiration Date</th>
        <th scope="col">Last Updated</th>
        <th scope="col">Completed</th>
        {% if user|has_perm:'customer_applications,requireddocument,change' and not docapplication.is_application_completed%}
        <th scope="col">Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for document in required_documents %}
        {% if document.is_expired %}
          <tr class="table-danger">
        {% else %}
          <tr>
        {% endif %}

          <td>{{ document.doc_type }}</td>
          <!-- Document Number -->
          <td>{{ document.doc_number }}</td>
          <!-- Expiration Date -->
          <td>{{ document.expiration_date }}</td>

          <!-- Last Updated -->
          {% include "components/updated_at_by_table_col.html" with model=document %}

          <!-- Completed -->
          <td>
            {% if document.completed %}
              {% include "components/field_checked_true.html" with text="Yes" %}
            {% else %}
              {% include "components/field_checked_false.html" with text="No" %}
            {% endif %}
          </td>

          <!-- Actions -->
          <td>
          {% if user|has_perm:'customer_applications,requireddocument,view' %}
            <a href="{% url 'customer-application-requireddocument-detail' document.pk %}" class="btn btn-sm btn-primary">View</a>
            <a href="{% url 'customer-application-requireddocument-detail-print' document.pk %}" target="_blank" class="btn btn-sm btn-secondary">Print</a>
          {% endif %}
          {% if user|has_perm:'customer_applications,requireddocument,change' %}
            {% if not docapplication.is_application_completed %}
              {% if document.doc_type.has_file %}
                <a href="{% url 'customer-application-requireddocument-update' document.pk %}" class="btn btn-sm btn-warning">Upload</a>
              {% else %}
                <a href="{% url 'customer-application-requireddocument-update' document.pk %}" class="btn btn-sm btn-warning">Update</a>
              {% endif %}
            {% endif %}
          {% endif %}
          </td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
