{% load check_perms %}
{% load unicorn %}

{% if docapplication.workflows.all|length > 0 %}
  <div id="doc_workflow_table" >
    <table class="table table-responsive-md">
      <thead>
        <tr>
          <th scope="col">Task</th>
          <th scope="col">Start Date</th>
          <th scope="col">Due Date</th>
          <th scope="col">Last Updated</th>
          <th scope="col">Status</th>
          {% if user|has_perm:'customer_applications,docworkflow,change' and not docapplication.is_application_completed %}
          <th scope="col">Edit</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for docworkflow in docapplication.workflows.all %}
          {% if not docworkflow.is_completed %}
            {% if docworkflow.is_overdue %}
              <tr class="table-danger">
            {% elif docworkflow.is_notification_date_reached %}
              <tr class="table-warning">
            {% else %}
              <tr>
            {% endif %}
          {% else %}
            <tr>
          {% endif %}
            <!-- Task -->
            <td>{{ docworkflow.task.name }}</td>
            <!-- Start Date -->
            <td>{{ docworkflow.start_date }}</td>
            <!-- Due Date -->
            <td>{{ docworkflow.due_date }}</td>
            <!-- Last Updated -->
            {% include "components/updated_at_by_table_col.html" with model=docworkflow %}

            <!-- Status -->
            <td>
              <div class="d-md-flex text-center">
              {% if not docapplication.is_application_completed %}
                {% if user|has_perm:'customer_applications,docworkflow,change' and docworkflow.is_current_step %}
                    <!-- Dropdown to select workflow status -->
                      <select class="form-select form-select-sm text-sm-start" style="max-width: 100%;" unicorn:change="update_status({{ docworkflow.pk }}, $event.target.value)">
                          <option value="{{docapplication.STATUS_PENDING}}" {% if docworkflow.status == docapplication.STATUS_PENDING %}selected{% endif %}>Pending</option>
                          <option value="{{docapplication.STATUS_PROCESSING}}" {% if docworkflow.status == docapplication.STATUS_PROCESSING %}selected{% endif %}>Processing</option>
                          <option value="{{docapplication.STATUS_COMPLETED}}" {% if docworkflow.status == docapplication.STATUS_COMPLETED %}selected{% endif %}>Completed</option>
                          <option value="{{docapplication.STATUS_REJECTED}}" {% if docworkflow.status == docapplication.STATUS_REJECTED %}selected{% endif %}>Rejected</option>
                      </select>
                {% else %}
                  {% include "components/model_status_badge.html" with status=docworkflow.status %}
                {% endif %}
              {% else %}
                {% include "components/model_status_badge.html" with status=docworkflow.status %}
              {% endif %}
              {% if docworkflow.has_notes %}
                <div class="ml-2">
                  <i class="bi bi-exclamation-triangle-fill text-warning"></i>
                </div>
              {% endif %}
              </div>
            </td>

            <!-- Edit -->
            <td>
              <div class="btn-group-sm" role="group">
              {% if user|has_perm:'customer_applications,docworkflow,view' %}
                  <a href="{% url 'customer-application-docworkflow-detail' docworkflow.pk %}" class="btn btn-primary">View</a>
              {% endif %}
              {% if not docapplication.is_application_completed %}
                  {% if user|has_perm:'customer_applications,docworkflow,change' %}
                    {% if docworkflow.is_current_step %}
                      <a href="{% url 'customer-application-docworkflow-update' docworkflow.pk %}" class="btn btn-warning">Edit</a>
                    {% endif %}
                  {% endif %}
              {% endif %}
              </div>
            </td>

          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
<div id="doc_workflow_next_btn" class="col mb-2 p-2">
  <div class="text-center">
    {% if docapplication.is_application_completed %}
      <h1><span class="badge badge-success">Application Completed</span></h1>
    {% else %}
      {% if user|has_perm:'customer_applications,docworkflow,change' and docapplication.has_next_task %}
      <div>
        <a href="{% url 'customer-application-docworkflow-create' docapplication.pk docapplication.next_task.step %}" class="btn btn-warning">{% if docapplication.next_task.step == 1 %}Start{% else %}Next Step{% endif %}</a>
        {% if docapplication.is_document_collection_completed and not docapplication.has_invoice and user|has_perm:'invoices,invoice,add'%}
          <a href="{% url 'invoice-create-by-doc-application' docapplication.pk %}" class="btn btn-success">Create Invoice</a>
        {% elif docapplication.has_invoice %}
          {% if user|has_perm:'invoices,invoice,view' %}
            <a href="{% url 'invoice-detail' docapplication.get_invoice.pk %}" class="btn btn-primary">View Invoice</a>
          {% endif %}
          {% if user|has_perm:'invoices,invoice,change' %}
            <a href="{% url 'invoice-update' docapplication.get_invoice.pk %}" class="btn btn-warning">Edit Invoice</a>
          {% endif %}
        {% else %}
          <div class="col-6">
            <div class="badge bg-secondary">Not Ready</div>
          </div>
          <div class="col-6">
          </div>
        {% endif %}


      </div>
      {% endif %}
      {% if not docapplication.is_document_collection_completed %}
        <h1><span class="badge badge-danger">Document Collection Pending</span></h1>
      {% endif %}
    {% endif %}
  </div>
</div>
