{% load check_perms %}
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Document Type</th>
        <th scope="col">Document Number</th>
        <th scope="col">Expiration Date</th>
        {% if perms.customer_applications.upload_documents %}
        <th scope="col">View Document</th>
        {% endif %}
        <th scope="col">Completed</th>
        {% if user|has_perm:'customer_applications,requireddocument,change' %}
        <th scope="col">Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for document in required_documents %}
        <tr>
          <td>{{ document.doc_type }}</td>
          <td>{{ document.doc_number }}</td>
          <td>{{ document.expiration_date }}</td>
          {% if user|has_perm:'customer_applications,requireddocument,upload_document' %}
          <td>
            {% if document.file_link %}
              <a href="{{ document.file_link }}" target="_blank">View Document</a>
            {% else %}
              Document not uploaded.
            {% endif %}
          </td>
          {% endif %}
          <td>
            {% if document.completed %}
              {% include "components/field_checked_true.html" with text="Yes" %}
            {% else %}
              {% include "components/field_checked_false.html" with text="No" %}
            {% endif %}
          </td>
          {% if user|has_perm:'customer_applications,requireddocument,change' %}
          <td>
            {% if document.completed %}
              <a href="{% url 'customer-application-requireddocument-update' document.pk %}" class="btn btn-sm btn-danger">Update Document</a>
            {% else %}
              <a href="{% url 'customer-application-requireddocument-update' document.pk %}" class="btn btn-sm btn-warning">Upload Document</a>
            {% endif %}
          </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
