{% extends "base_template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}BudinessSuite - {{ action_name }} Customer Application{% endblock %}

{% block content %}
<div>
    <h2 class="text-center my-4">Update Customer Application</h2>
    <form method="post" enctype="multipart/form-data" class="p-3 rounded w-100" action="" id="customer-application-form">
        {% csrf_token %}
        {{ form | crispy }}
        <div>
            <hr \>
            <button type="submit" class="btn btn-primary">Update</button>
            <a href="javascript:history.back()" class="btn btn-outline-primary">Back</a>
        </div>
    </form>
</div>
{% endblock %}
