{% extends "base_template.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}RevisCRM - {{ action_name }} Customer Application{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2 class="text-center my-4">New Customer Application</h2>
    <form method="post" enctype="multipart/form-data" class="p-3 rounded w-100" action="" id="customer-application-form">
        {% csrf_token %}
        {{ form | crispy }}
        <h3 class="text-center my-4">Required Documents</h3>
        {{ requireddocuments.management_form }}
        <div id="requireddocument-form-list">
            {% for requireddocument_form in requireddocuments %}
            <div class="requireddocument_form p-3 mb-4 border rounded">
                {{ requireddocument_form | crispy }}
                <button type="button" class="btn btn-danger remove-requireddocument-btn mt-2">Remove Document</button>
            </div>
            {% endfor %}
        </div>

        <!-- Template for a new task form (hidden) -->
        <div id="empty-form" style="display:none;">
            <div class="requireddocument_form p-3 mb-4 border rounded">
                {{ requireddocuments.empty_form | crispy }}
                <button type="button" class="btn btn-danger remove-requireddocument-btn mt-2">Remove Document</button>
            </div>
        </div>

        <button type="button" class="btn btn-secondary" id="add-requireddocument">Add Required Document</button>



        <button type="submit" class="btn btn-primary">Save Application</button>
    </form>
</div>
{% endblock %}

{% block after-bootstrap-js %}
    {{ block.super }}
    <script>
        // Function to check if customer and application type are selected
        function checkSelected() {
            if ($('#id_customer').val() && $('#id_application_type').val()) {
                $('#id_product').prop('disabled', false);
                $('#add-requireddocument').prop('disabled', false);
            } else {
                $('#id_product').prop('disabled', true);
                $('#add-requireddocument').prop('disabled', true);
            }
        }
        checkSelected(); // check on page load

        // Enable fields when customer is selected
        $('#id_customer').change(checkSelected);
        // Enable fields when application type is selected
        $('#id_application_type').change(checkSelected);

        $('#id_product').change(function() {
            var selectedProduct = $(this).val();
            $('#requireddocument-form-list').empty(); // remove all existing required document forms
            if (selectedProduct) {
                var url = "{% url 'api-product-by-id' product_id='123456' %}";
                url = url.replace('123456', selectedProduct);
                fetch(url, {
                    credentials: 'same-origin'
                })
                .then(response => response.json())
                .then(data => {
                    // get required documents from product
                    if (data.product.required_documents == null) {
                        data.product.required_documents = '';
                    }
                    required_documents = data.product.required_documents.split(',').map(function(item) {
                        return item.trim();
                    });
                    // if product.base_price is not emtpy or null, set it as value of #id_price form field
                    if (data.product.base_price) {
                        $('#id_price').val(data.product.base_price);
                    }
                    $('#id_requireddocuments-TOTAL_FORMS').val(required_documents.length); // update total forms
                    // create new required document forms
                    for (var i = 0; i < required_documents.length; i++) {
                        var newFormHtml = $('#empty-form').html().replace(/__prefix__/g, i);
                        var newForm = $(newFormHtml);
                        newForm.find('input[name=requireddocuments-' + i + '-doc_type]').val(required_documents[i]);
                        $('#requireddocument-form-list').append(newForm);
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        });

        document.getElementById('add-requireddocument').addEventListener('click', function() {
            var formIdx = $('#id_requireddocuments-TOTAL_FORMS').val();
            $('#requireddocument-form-list').append($('#empty-form').html().replace(/__prefix__/g, formIdx));
            $('#id_requireddocuments-TOTAL_FORMS').val(parseInt(formIdx) + 1);
            $('#id_requireddocuments-' + formIdx + '-step').val(parseInt(formIdx) + 1);
        }, false);

        $(document).on('click', '.remove-requireddocument-btn', function(){
            if ($('.requireddocument_form').length > 1) {
                $(this).parent().remove();
                var forms = $('#requireddocument-form-list .requireddocument_form'); // Get all the forms
                $('#id_requireddocuments-TOTAL_FORMS').val(forms.length); // Update the total number of forms
                var i = 0;
                // Go through the forms and set their indices, names and IDs
                for (form of forms.toArray()) {
                    $(form).find('input,select,checkbox').each(function() {
                        $(this).attr('name', $(this).attr('name').replace(/-\d+-/, '-' + i + '-'));
                        $(this).attr('id', $(this).attr('id').replace(/-\d+-/, '-' + i + '-'));
                    });
                    i++;
                }
            }
        });
    </script>
{% endblock %}