{% extends "base_template.html" %}
{% load filters %}

{% block title %}BusinessSuite - Print View Required Document Details{% endblock %}

{% block custom-css %}
    {{ block.super }}
    <style>
        @media print {
            .pagebreak { page-break-before: always; } /* page-break-after works, as well */
            #pdf_link_id { display: none; }
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center my-3 no-print">
        <button id="btnPrint" class="btn btn-primary">
            <i class="bi bi-printer"></i> Print Preview
        </button>
    </div>
    <div id="printable_area">
        <div class="d-flex justify-content-center my-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h1 class="text-center">{{ document.doc_type.name }} - {{ document.doc_application.customer.full_name }}</h1>
                        <h5 class="text-center">Application ID #{{ document.pk }}</h5>
                    </div>

                    <table class="table table-borderless">
                        <tbody>
                            {% if document.doc_number %}
                            <tr>
                                <th scope="row">Document Number</th>
                                <td>{{ document.doc_number }}</td>
                            </tr>
                            {% endif %}
                            {% if document.expiration_date %}
                            <tr>
                                <th scope="row">Expiration Date</th>
                                <td>{{ document.expiration_date }}</td>
                            </tr>
                            {% endif %}
                            {% if document.details %}
                            <tr>
                                <th scope="row">Details</th>
                                <td>{{ document.details }}</td>
                            </tr>
                            {% endif %}
                            {% if document.doc_type.has_ocr_check %}
                            <tr>
                                <th scope="row">OCR Checked</th>
                                {% if document.ocr_check %}
                                    <td><i class="bi bi-check-circle-fill"></i></td>
                                {% else %}
                                    <td><i class="bi bi-x-circle-fill"></i></td>
                                {% endif %}
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    {% if document.file and document.file.url %}
                    <div class="my-5 text-center">
                        {% if document.file.url|lower|endswith:".pdf" %}
                            <img src="{{ file_url }}" alt="Document preview" class="img-fluid">
                        {% else %}
                            <p>Document preview:</p>
                            <img src="{{ document.file.url }}" alt="Document preview" class="img-fluid">
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        {% if document.file and document.file.url %}
        <div class="pagebreak"> </div>
        <div class="my-5 text-center">
            <!-- <p>Attached Document:</p> -->
            <p class="mt-10"></p>
            {% if document.file.url|lower|endswith:".pdf" %}
            <p id="pdf_link_id"><a href="{{ document.file.url }}" target="_blank">Click here to view and print the PDF file</a></p>
            {% else %}
            <img src="{{ document.file.url }}" alt="Document preview" class="img-fluid">
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block after-bootstrap-js %}
    {{ block.super }}
    <script>
        document.getElementById('btnPrint').addEventListener('click', function() {
            var printContents = document.getElementById('printable_area').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();

            document.body.innerHTML = originalContents;
        });
    </script>
{% endblock %}
