{% extends "base_template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h3>Edit / Upload Document</h3>
      </div>
      <div class="card-body">
        <h4 class="card-title">Document Type: {{ product_doc_type.name }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ product_doc_type.description }}</h6>
        <form method="post" enctype="multipart/form-data" style="width: 100%;">
            {% csrf_token %}
            {% for field in form %}
                {{ field | as_crispy_field }}
                {% if field.name == 'file' %}
                    <!-- button to check the file via ocr using restApiCall -->
                    <div class="mb-3">
                      <button id="ocr_check_btn_id" type="button" class="btn btn-primary btn-sm">
                        Check File with OCR
                        <div id="ocr_check_spinner" class="spinner-border spinner-small text-secondary" style="display: none;"></div>
                      </button>
                      <div class="invalid-feedback" id="ocr_check_error_id" style="display: none;"></div>
                      <div class="valid-feedback" id="ocr_check_success_id" style="display: none;"></div>
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
      </div>
      <div class="card-footer text-muted">
        <a href="javascript:history.back()" class="btn btn-outline-primary">Back</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block after-bootstrap-js %}
  {{ block.super }}
<script>
  function toggleOcrCheckErrorAndSuccess(success, message) {
    var ocr_check_error = document.getElementById('ocr_check_error_id');
    var ocr_check_success = document.getElementById('ocr_check_success_id');
    if (success) {
      ocr_check_error.style.display = 'none';
      ocr_check_success.innerHTML = message;
      ocr_check_success.style.display = 'block';
    } else {
      ocr_check_success.style.display = 'none';
      ocr_check_error.innerHTML = message;
      ocr_check_error.style.display = 'block';
    }
  }

  function toggleOcrCheckSpinner(show) {
    var ocr_check_btn = document.getElementById('ocr_check_btn_id');
    var ocr_check_spinner = document.getElementById('ocr_check_spinner');
    if (show) {
      ocr_check_btn.disabled = true;
      ocr_check_spinner.style.display = 'inline-block';
    } else {
      ocr_check_btn.disabled = false;
      ocr_check_spinner.style.display = 'none';
    }
  }


  $(document).ready(function() {
    var ocr_check_btn = document.getElementById('ocr_check_btn_id');

    ocr_check_btn.addEventListener('click', function(e) {
      var url = "{% url 'api-ocr-check' %}";
      var formData = new FormData();
      formData.append('file', document.querySelector('input[name="file"]').files[0],);
      formData.append('doc_type', "{{ product_doc_type.name }}");
      toggleOcrCheckSpinner(true);
      restApiCall('POST', url, formData,
          data => {
            toggleOcrCheckErrorAndSuccess(true, 'File successfully checked via OCR!');
            var doc_number = document.getElementById('id_doc_number');
            doc_number.value = data.document_number;
            var expiration_date = document.getElementById('id_expiration_date');
            // expiration_date is a date field, so we need to format the date
            var date = new Date(data.expiration_date);
            expiration_date.value = date.toISOString().split('T')[0];
            // set id_ocr_check to true and make it visible in the form (readonly)
            var ocr_check = document.getElementById('id_ocr_check');
            ocr_check.checked = true;
            ocr_check.style.display = 'block';
            ocr_check.readOnly = true;
            toggleOcrCheckSpinner(false);
          },
          error => {
            toggleOcrCheckErrorAndSuccess(false, error.message);
            toggleOcrCheckSpinner(false);
          }
      );
    });
  });
</script>
{% endblock %}