{% load check_perms %}
<div class="list_row">
    <tr>
        <td>{{ customer.full_name }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.telephone }}</td>
        <td>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url 'customer-detail' customer.pk %}" class="btn btn-primary btn-sm me-1">View</a>
            {% if user|has_perm:'customers,customer,change' %}
            <a href="{% url 'customer-update' customer.pk %}" class="btn btn-warning btn-sm me-1">Edit</a>
            <button unicorn:click="toggle_active_status({{customer.pk}})" class="btn btn-secondary btn-sm me-1" >{% if customer and customer.active %}Disable{% else %}Enable{% endif %}</button>
            {% endif %}
            {% if user|has_perm:'customers,customer,delete' %}
            <a href="{% url 'customer-delete' customer.pk %}" class="btn btn-danger btn-sm me-1">Delete</a>
            {% endif %}
            <!-- Button to create a customer application by customer: url customer-application-create-from-customer -->
            {% if user|has_perm:'customer_applications,docapplication,add' %}
            <a href="{% url 'customer-application-create-from-customer' customer.pk %}" class="btn btn-success btn-sm me-1">New Application</a>
            {% endif %}
        </div>
        </td>
    </tr>
</div>
