{% extends "base_template.html" %}
{% load static %}
{% load view_filters %}
{% load form_extras %}

{% block title %}RevisCRM - Customer Chart Analysis{% endblock %}

<h2>Customer Chart Analysis</h2>
{% block content %}
<div class="container">
    <h1 class="mt-4 mb-4">Customer Analysis</h1>
    <div class="form-group">
        <label for="plot_type">Choose a chart:</label>
        <select class="form-control" id="plot_type" name="plot_type">
            {% for chart, chart_info in charts %}
                <option value="{{ chart }}" {% if chart == plot_type %}selected{% endif %}>{{ chart_info.display_name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mt-4">
        <img src="{{ plot }}" />
    </div>
</div>
{% endblock %}

{% block after-bootstrap-js %}
{{ block.super }}
<script>
    $(document).ready(function(){
        $('#plot_type').change(function(){
            var plotType = $(this).val();
            var url = "{% url 'customer-chart-analysis' 'placeholder' %}".replace('placeholder', plotType);
            window.location.href = url;
        });
    });
</script>
{% endblock %}