{% extends "base_template.html" %}
{% load static form_extras %}

{% block custom-css %}
    {{ block.super }}
    <style>
        .form-group {
            margin-bottom: 10px;  /* Reduce the space between form elements */
        }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid"> <!-- Use container-fluid to make the content stretch to the full width -->
    <h2 class="text-center my-4">Create a new customer</h2>
    <form method="post" class="p-3 rounded w-50" action="{{ action }}"> <!-- Adding w-100 class -->
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            {% if field.field.widget.input_type == 'checkbox' %}
            <div class="form-check">
                {{ field }}
                <label class="form-check-label" for="{{ field.id_for_label }}"></label>
            </div>
            {% else %}
            {{ field|add_class:"form-control" }}
            {% endif %}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Create</button>
        </div>
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}

    </form>
</div>
{% endblock %}
