{% extends "base_template.html" %}
{% load static form_extras %}
{% load crispy_forms_tags %}

{% block title %}RevisCRM - {{ action_name }} customer{% endblock %}

{% block custom-css %}
    {{ block.super }}
    <style>
        .form-group {
            margin-bottom: 10px;  /* Reduce the space between form elements */
        }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid"> <!-- Use container-fluid to make the content stretch to the full width -->
    <h2 class="text-center my-4">{{ action_name }} a new customer</h2>
    <form method="post" class="p-3 rounded w-50" action="{{ action }}">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">{{ action_name }}</button>
        </div>
    </form>
</div>
{% endblock %}
