{% extends "base_template.html" %}
{% load static %}

{% block content %}
  <div class="d-flex flex-column align-items-center justify-content-center vh-100 text-center">
    <header>
        <img src="{% static 'logo_inverted_transparent.png' %}" alt="Business Suite Logo" class="mb-4" style="width: 50%;">
    </header>
    <h1>Welcome to Business Suite ERP</h1>
    <!-- Login/Logout links -->
    <div class="border p-3 mt-2" style="width: 200px;">
        {% if user.is_authenticated %}
          <p>Welcome, {{ user.username }}. <a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
          <p><a href="{% url 'login' %}">Login</a></p>
        {% endif %}
    </div>
    <!-- Under Construction -->
    <p class="mt-4">This site is under construction.</p>
  </div>
{% endblock %}
