{% extends "base_template.html" %}
{% block title %}RevisCRM - Invoice Detail{% endblock %}

{% block content %}
<div>
    <h2 class="text-center my-4">Invoice Detail</h2>
    <div class="p-3 rounded w-100">
        <p>Customer: {{ object.customer }}</p>
        <p>Invoice Number: {{ object.invoice_no }}</p>
        <p>Invoice Date: {{ object.invoice_date }}</p>
        <p>Due Date: {{ object.due_date }}</p>
        <p>Status: {{ object.status }}</p>
        <p>Notes: {{ object.notes }}</p>
        <p>Total Amount: {{ object.total_amount }}</p>
        <hr \>
        <a href="javascript:history.back()" class="btn btn-outline-primary">Back</a>
    </div>
</div>
{% endblock %}
