{% extends "base_template.html" %}
{% load crispy_forms_tags %}
{% load filters %}
{% load static %}

{% block title %}BusinessSuite - Create Invoice{% endblock %}

{% block content %}
<div>
    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
    </div>
    {% endif %}

    {% if invoice_applications.non_form_errors %}
        <div class="alert alert-danger" role="alert">
            {{ invoice_applications.non_form_errors }}
        </div>
    {% endif %}

    <h2 class="text-center my-4">Create a new Invoice</h2>
    <form method="post" class="p-3 rounded w-100" action="" id="invoice-application-form" data-decimals="{{ currency_decimal_places }}" data-customer-id="{{ customer.id|default:'' }}" data-customer-name="{{ customer.full_name|escapejs|default:'' }}">
        {% csrf_token %}
        {{ form | crispy }}

        <h3 class="text-center my-4">Invoice Applications</h3>

        <div id="invoice-applications-section" {% if not customer %}style="display:none;"{% endif %}>
            <div class="mb-3 d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-success" id="create-new-application-btn">
                    <i class="fas fa-plus"></i> Create New Application
                </button>
                {% if has_pending_applications %}
                <button type="button" class="btn btn-secondary" id="add-invoiceapplication">
                    <i class="fas fa-list"></i> Add Existing Application
                </button>
                {% endif %}
            </div>

            {{ invoice_applications.management_form }}
            <div id="invoiceapplication-form-list">
                {% for invoiceapplication_form in invoice_applications %}
                <div class="invoiceapplication_form p-3 mb-4 border rounded">
                    {% if invoiceapplication_form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ invoiceapplication_form.non_field_errors }}
                    </div>
                    {% endif %}
                    {{ invoiceapplication_form | crispy }}
                </div>
                {% endfor %}
                {% block after-bootstrap-js %}
                {{ block.super }}
                <script src="{% static 'js/invoices/invoice_create.js' %}" defer></script>
            {% endblock %}
{% endblock %}
