{% extends "base_template.html" %}
{% load crispy_forms_tags %}

{% block title %}RevisCRM - Create Invoice{% endblock %}

{% block content %}
<div>
    <h2 class="text-center my-4">Create a new Invoice</h2>
    <form method="post" class="p-3 rounded w-100">
        {% csrf_token %}
        {{ form | crispy }}
        {{ invoiceapplications.management_form }}
        {% for form in invoiceapplications %}
            {{ form | crispy }}
        {% endfor %}
        <div>
            <hr \>
            <button type="submit" class="btn btn-primary">Create</button>
            <a href="javascript:history.back()" class="btn btn-outline-primary">Back</a>
        </div>
    </form>
</div>
{% endblock %}
