{% extends "base_template.html" %}
{% load static %}
{% load filters %}
{% load check_perms %}

{% block title %}RevisCRM - Invoice Detail{% endblock %}

{% block content %}
  <div class="my-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h3>Invoice No. {{ object }}</h3>
      </div>
      <table class="table">
        <tbody>
          <tr><th scope="row" class="text-start">Customer</th><td class="text-start">{{ object.customer }}</td></tr>
          <tr><th scope="row" class="text-start">Invoice Number</th><td class="text-start">{{ object.invoice_no_display }}</td></tr>
          <tr><th scope="row" class="text-start">Invoice Date</th><td class="text-start">{{ object.invoice_date }}</td></tr>
          <tr><th scope="row" class="text-start">Due Date</th><td class="text-start">{{ object.due_date }}</td></tr>
          <tr><th scope="row" class="text-start">Status</th><td class="text-start">{% include "components/model_invoice_status_badge.html" with status=object.status status_display=object.get_status_display %}</td></tr>
          <tr><th scope="row" class="text-start">Notes</th><td class="text-start">{{ object.notes }}</td></tr>
          <tr><th scope="row" class="text-start">Total Amount</th><td class="text-start">{{ object.total_amount|as_currency }}</td></tr>
          <tr><th scope="row" class="text-start">Total Paid</th><td class="text-start">{{ object.total_paid_amount|as_currency }}</td></tr>
          <tr><th scope="row" class="text-start">Total Due</th><td class="text-start">{{ object.total_due_amount|as_currency }}</td></tr>
        </tbody>
      </table>

      <div class="card-header bg-secondary text-white">
        <h3>Customer Applications</h3>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="text-start">Application</th>
            <th scope="col" class="text-start">Amount</th>
            <th scope="col" class="text-start">Paid</th>
            <th scope="col" class="text-start">Due</th>
            <th scope="col" class="text-start">Payment Status</th>
            <th scope="col" class="text-start">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for app in object.invoice_applications.all %}
            <tr>
              <!-- customer application -->
              <td class="text-start"><a href="{% url 'customer-application-detail' app.customer_application.pk %}">{{ app.customer_application }}</a></td>
              <!-- invoice application amount -->
              <td class="text-start">{{ app.amount|as_currency }}</td>
              <!-- paid amount -->
              <td class="text-start">{{ app.paid_amount|as_currency }}</td>
              <!-- due amount -->
              <td class="text-start">{{ app.due_amount|as_currency }}</td>
              <!-- invoice application status (payment status)-->
              <td class="text-start">
                {% include "components/model_payment_status_badge.html" with status=app.status status_display=app.get_status_display %}
              </td>
              <!-- actions -->
              <td>
                <div class="btn-group-sm" role="group">
                  {% if user|has_perm:'payments,payment,add' and not app.is_payment_complete %}
                    <a href="{% url 'payment-by-invoice-application-create' app.pk %}" class="btn btn-success me-1">Add Payment</a>
                  {% endif %}
                </div>
              </td>
            </tr>
            <!-- payments breadkdown (accordion) -->
            <tr>
              <td colspan="6">
                <div class="accordion" id="accordionPayments{{ app.pk }}">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingPayments{{ app.pk }}">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePayments{{ app.pk }}" aria-expanded="false" aria-controls="collapsePayments{{ app.pk }}">
                        View Payments
                      </button>
                    </h2>
                    <div id="collapsePayments{{ app.pk }}" class="accordion-collapse collapse" aria-labelledby="headingPayments{{ app.pk }}" data-bs-parent="#accordionPayments{{ app.pk }}">
                      <div class="accordion-body">
                        <!-- payment details table -->
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col" class="text-start">Payment Date</th>
                              <th scope="col" class="text-start">Amount</th>
                              <th scope="col" class="text-start">Notes</th>
                              <th scope="col" class="text-start">Created At</th>
                              <th scope="col" class="text-start">Created By</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for payment in app.payments.all %}
                              <tr>
                                <td>{{ payment.payment_date }}</td>
                                <td>{{ payment.amount|as_currency }}</td>
                                <td>{{ payment.notes }}</td>
                                <td>{{ payment.created_at }}</td>
                                <td>{{ payment.created_by }}</td>
                              </tr>
                            {% empty %}
                              <tr>
                                <td colspan="5">No payments found for this application</td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>

          {% empty %}
            <tr>
              <td colspan="4">No applications found for this invoice</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="card-body">
        <a href="javascript:history.back()" class="btn btn-primary">Back</a>
      </div>
    </div>
  </div>
{% endblock %}
