<form (ngSubmit)="submitSearch()" class="flex flex-wrap items-center gap-3">
  <div class="relative flex items-center">
    <z-icon zType="search" class="absolute left-3 text-muted-foreground" />
    <input
      z-input
      class="w-72 pl-9"
      [disabled]="disabled()"
      [value]="searchValue()"
      (input)="onInput($event)"
      [placeholder]="placeholder()"
      name="search"
    />
    @if (isLoading()) {
      <z-icon zType="loader-circle" class="absolute right-3 animate-spin text-muted-foreground" />
    }
  </div>

  <ng-content />
</form>
