<div class="search-toolbar">
  <div class="search-input-wrap">
    <span class="search-icon absolute left-3 inset-y-0 flex items-center pointer-events-none">
      <z-icon zType="search" class="text-muted-foreground" />
    </span>
    <input
      #searchInput
      z-input
      class="search-input pl-10"
      [disabled]="disabled()"
      [value]="searchValue()"
      (input)="onInput($event)"
      (keydown)="handleInputKeydown($any($event))"
      [placeholder]="placeholder()"
      name="search"
      aria-label="Search"
    />
    @if (isLoading()) {
      <span class="absolute right-3 inset-y-0 flex items-center">
        <z-icon zType="loader-circle" class="animate-spin text-muted-foreground" />
      </span>
    }
  </div>

  <div class="search-toolbar-actions">
    <ng-content />
  </div>
</div>
