{% load unicorn %}
{% load check_perms %}
{% load filters %}

<div>
    <div class="centered-content">
        <h2>Payments</h2>

        <div class="col mb-2 p-2">
            <!-- Search form -->
            {% include 'components/list_search_form.html' with placeholder='Search Payments...' %}
            {% if user|has_perm:'payments,payment,add' %}
            <a href="{% url 'payment-create' %}" class="btn btn-primary">New Payment</a>
            {% endif %}
        </div>
    </div>

    <div class="justify-content-center table-responsive">
        {% if list_items %}
        <table class="table table-bordered table-condensed">
            <thead class="thead-light">
            <tr>
                {% include 'components/list_sorting_col.html' with col_field='invoice_application__invoice__invoice_no' col_name='Invoice Application' %}
                {% include 'components/list_sorting_col.html' with col_field='from_customer' col_name='From' %}
                {% include 'components/list_sorting_col.html' with col_field='payment_date' col_name='Date' %}
                <th scope="col">Amount</th>
                <th scope="col">Notes</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for payment in get_items %}
                    <tr>
                        <td>
                            <a href="{% url 'invoice-detail' payment.invoice_application.invoice.pk %}" class="text-primary font-weight-light">{{ payment.invoice_application }}</a>
                        </td>
                        <td>{{ payment.from_customer }}</td>
                        <td>{{ payment.payment_date|as_date_str }}</td>
                        <td>{{ payment.amount|as_currency }}</td>
                        <td>{{ payment.notes }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                {% if user|has_perm:'payments,payment,view' %}
                                <a href="{% url 'payment-detail' payment.pk %}" class="btn btn-primary btn-sm me-1">View</a>
                                {% endif %}
                                {% if user|has_perm:'payments,payment,change' %}
                                <a href="{% url 'payment-update' payment.pk %}" class="btn btn-warning btn-sm me-1">Edit</a>
                                {% endif %}
                                {% if user|has_perm:'payments,payment,delete' %}
                                <a href="{% url 'payment-delete' payment.pk %}" class="btn btn-danger btn-sm me-1">Delete</a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="d-flex justify-content-center my-3">
            {% include 'components/list_pagination_buttons.html' %}
        </div>
        {% else %}
            <p>No Payments found.</p>
        {% endif %}
    </div>
</div>
