{% load crispy_forms_tags %}
{% csrf_token %}
<div unicorn:name="invoice-create">
    <h2 class="text-center my-4">Create a new Invoice</h2>
    <form method="post" class="p-3 rounded w-100" unicorn:submit.prevent="submit">
        <div unicorn:name="invoice_applications">
            {% for subform in invoice_applications %}
                {{ subform | crispy }}
                <button type="button" unicorn:click="remove_form({{ forloop.counter0 }})">Remove</button>
            {% endfor %}
            <button type="button" unicorn:click="add_form()">Add</button>
        </div>
        <div>
            <hr \>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>

