{% extends "base_template.html" %}
{% load static %}

{% block content %}
<div class="centered-content">
  <h2>Delete Customer Application</h2>
  <p>Are you sure you want to delete the application: "{{ object }}"?</p>
      <form method="POST">
      {% csrf_token %}
      {% if has_linked_invoices %}
        <p class="text-warning">This application has linked invoice(s). Deleting the application can also delete the invoice(s) if you confirm below (superusers only).</p>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="delete_invoices" value="yes" id="deleteInvoices">
          <label class="form-check-label" for="deleteInvoices">I understand this will delete the linked invoice(s) too.</label>
        </div>
      {% endif %}
      <input type="submit" value="Confirm" class="btn btn-danger">
      <a href="{% url 'customer-application-list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}