{% extends "base_template.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}BusinessSuite - {{ action_name }} Customer Application's Workflow{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2 class="text-center my-4">{{ docapplication.product.name }} {{ docapplication.get_application_type_display }} application for {{ docapplication.customer.full_name }}<br><small>Step {{ task.step }} - {{ task.name }}</small> </h2>
    <form method="post" class="p-3 rounded w-100" action="" id="doc-workflow-step-form" 
          data-task-id="{{ task.pk }}" 
          data-due-date-url="{% url 'api-compute-docworkflow-due-date' task_id='12345' start_date='67890' %}">
        {% csrf_token %}
        {{ form | crispy }}
        <div id="due_date_spinner_id" class="spinner-border spinner-small text-secondary" style="display: none;"></div>
        <!-- error div -->
        <div id="due_date_error_id" class="alert alert-danger" role="alert" style="display: none;"></div>
        <button type="submit" class="btn btn-primary">{{ action_name }}</button>
    </form>
</div>
{% endblock %}
{% block after-bootstrap-js %}
    {{ block.super }}
    <script src="{% static 'js/utils.js' %}"></script>
    <script src="{% static 'js/customer_applications/docworkflow_form.js' %}"></script>
{% endblock %}