{% extends "base_template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}BusinessSuite - Customer Application - Task Details{% endblock %}

{% block content %}
<div>
  <div class="container my-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h3>Workflow (#{{ docworkflow.pk }}) for {{ docworkflow.doc_application.product.name }} - {{ docworkflow.doc_application.customer.full_name }}</h3>
      </div>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row" class="text-start">Task</th>
            <td class="text-start">{{ docworkflow.task.name }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Start Date</th>
            <td class="text-start">{{ docworkflow.start_date }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Completion Date</th>
            <td class="text-start">{{ docworkflow.completion_date }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Due Date</th>
            <td class="text-start">{{ docworkflow.due_date }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Status</th>
            <td class="text-start">{% include "components/model_status_badge.html" with status=docworkflow.status %}</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Notes</th>
            <td class="text-start">{{ docworkflow.notes }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Created At</th>
            <td class="text-start">{{ docworkflow.created_at }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Updated At</th>
            <td class="text-start">{{ docworkflow.updated_at }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Created By</th>
            <td class="text-start">{{ docworkflow.created_by.username }}</td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Updated By</th>
            <td class="text-start">{{ docworkflow.updated_by.username }}</td>
          </tr>
        </tbody>
      </table>

      <div class="card-footer text-muted">
        <a href="javascript:history.back()" class="btn btn-outline-primary">Back</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}