{% extends "base_template.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %}RevisCRM - products{% endblock %}

{% block custom-css %}
    {{ block.super }}
    <style>
        .form-group {
            margin-bottom: 10px;
        }
        .task-form {
            overflow-x: auto;
        }
        .task-form table {
            width: 100%;
            table-layout: fixed;
        }
    </style>
{% endblock %}

<!-- Add extra jquery components for this form -->
{% block head-after-jquery-js %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/tags-input/tagsinput.css' %}" />
    <script src="{% static 'plugins/tags-input/tagsinput.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2 class="text-center my-4">{{ action_name }} a new product</h2>
    <form method="post" class="p-3 rounded w-100" action="" id="product-form">
        {% csrf_token %}
        {{ form | crispy }}
        {{ tasks.management_form }}
        <div id="task-form-list">
            {% for task_form in tasks %}
            <div class="task-form p-3 mb-4 border rounded">
                {{ task_form | crispy }}
                <button type="button" class="btn btn-danger remove-task-btn mt-2">Remove Task</button>
            </div>
            {% endfor %}
        </div>

        <!-- Template for a new task form (hidden) -->
        <div id="empty-form" style="display:none;">
            <div class="task-form p-3 mb-4 border rounded">
                {{ tasks.empty_form | crispy }}
                <button type="button" class="btn btn-danger remove-task-btn mt-2">Remove Task</button>
            </div>
        </div>

        <button type="button" class="btn btn-primary" id="add-task">Add Task</button>
        <button type="submit" class="btn btn-primary">{{ action_name }}</button>
    </form>
</div>
{% endblock %}

{% block after-bootstrap-js %}
    {{ block.super }}
    <script>
        document.getElementById('add-task').addEventListener('click', function() {
            var formIdx = $('#id_tasks-TOTAL_FORMS').val();
            var newTaskForm = $('#empty-form').html().replace(/__prefix__/g, formIdx);
            $('#task-form-list').append(newTaskForm);
            $('#id_tasks-TOTAL_FORMS').val(parseInt(formIdx) + 1);
            $('#id_tasks-' + formIdx + '-step').val(parseInt(formIdx) + 1);

            // If product type is 'visa', set default values for the first task form
            var productType = $('#id_product_type').val();
            if (productType === 'visa' && formIdx === '0') {
                $('#id_tasks-' + formIdx + '-name').val('Document Collection');
                $('#id_tasks-' + formIdx + '-description').val('Collecting documents from Customer');
            }
        }, false);

        $(document).on('click', '.remove-task-btn', function(){
            if ($('.task-form').length > 1) {
                $(this).parent().remove();
                var forms = $('#task-form-list .task-form'); // Get all the forms
                $('#id_tasks-TOTAL_FORMS').val(forms.length); // Update the total number of forms
                var i = 0;
                // Go through the forms and set their indices, names and IDs
                for (form of forms.toArray()) {
                    $(form).find('input,select,checkbox').each(function() {
                        $(this).attr('name', $(this).attr('name').replace(/-\d+-/, '-' + i + '-'));
                        $(this).attr('id', $(this).attr('id').replace(/-\d+-/, '-' + i + '-'));
                    });
                    i++;
                }
            }
        });
    </script>
{% endblock %}