{% extends "base_template.html" %}
{% load static %}
{% load humanize %}

{% block content %}
  <div class="container my-4">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h3>Product Details</h3>
      </div>
      <table class="table">
        <tbody>
            <tr><th scope="row" class="text-start">Name</th><td class="text-start">{{ product.name }}</td></tr>
            <tr><th scope="row" class="text-start">Code</th><td class="text-start">{{ product.code }}</td></tr>
            <tr><th scope="row" class="text-start">Description</th><td class="text-start">{{ product.description }}</td></tr>
            <tr><th scope="row" class="text-start">Base Price</th><td class="text-start">{{ product.base_price|floatformat:2|intcomma }}</td></tr>
            <tr><th scope="row" class="text-start">Product Type</th><td class="text-start">{{ product.get_product_type_display }}</td></tr>
            <tr><th scope="row" class="text-start">Product Validity (days)</th><td class="text-start">{{ product.validity }}</td></tr>
            <tr><th scope="row" class="text-start">Documents Min Validity (days)</th><td class="text-start">{{ product.documents_min_validity }}</td></tr>
            <tr><th scope="row" class="text-start">Required Documents</th><td class="text-start">{{ product.required_documents }}</td></tr>
          </tbody>
        </tbody>
      </table>
      <h4 class="my-4">Tasks</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Step</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Cost</th>
            <th scope="col">Duration (days)</th>
            <th scope="col">Notify Days Before</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
            <tr>
              <td>{{ task.step }}</td>
              <td>{{ task.name }}</td>
              <td>{{ task.description }}</td>
              <td>{{ task.cost }}</td>
              <td>{{ task.duration }}</td>
              <td>{{ task.notify_days_before }}</td>
              {% if perms.products.change_task %}
              <td>
                <a href="{% url 'product-task-update' task.pk %}" class="btn btn-warning btn-sm">Edit</a>
              </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="card-body">
        <a href="{% url 'product-list' %}" class="btn btn-primary">List All</a>
        {% if perms.products.change_product %}
        <a href="{% url 'product-update' product.id %}" class="btn btn-warning btn-sm">Edit</a>
        {% endif %}
        {% if perms.products.delete_product %}
        <a href="{% url 'product-delete' product.id %}" class="btn btn-danger btn-sm">Delete</a>
        {% endif %}
      </div>
    </div>
    <div class="card-footer text-muted">
      <a href="javascript:history.back()" class="btn btn-outline-primary">Back</a>
    </div>
  </div>
{% endblock %}
