{% load unicorn %}
{% load check_perms %}

<div>
  <div class="centered-content">
    <h2>Customer Applications</h2>

    <div class="col mb-2 p-2">
      <!-- Search form -->
      {% include 'components/list_search_form.html' with placeholder='Search Customers...' extra_html='customer_applications/_list_search_form_extra.html' %}
      {% if user|has_perm:'customer_applications,docapplication,add' %}
      <a href="{% url 'customer-application-create' %}" class="btn btn-primary">New application</a>
      {% endif %}
    </div>
  </div>

  <div class="justify-content-center">
    {% if list_items %}
    <table class="table table-bordered table-condensed">
      <thead class="thead-light">
        <tr>
          {% include 'components/list_sorting_col.html' with col_field='pk' col_name='#ID' %}
          {% include 'components/list_sorting_col.html' with col_field='customer' col_name='Customer' %}
          {% include 'components/list_sorting_col.html' with col_field='application_type' col_name='Type' %}
          {% include 'components/list_sorting_col.html' with col_field='product' col_name='Product' %}
          {% include 'components/list_sorting_col.html' with col_field='doc_date' col_name='Doc Date' %}
          {% include 'components/list_sorting_col.html' with col_field='due_date' col_name='Completed Date' %}
          <th scope="col">Current Task</th>
          {% include 'components/list_sorting_col.html' with col_field='wf_due_date' col_name='Task Due' %}
          <th scope="col">Status</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for docapplication in list_items %}
          {% with current_workflow=docapplication.current_workflow %}
            {% if not docapplication.is_application_completed %}
              {% if current_workflow.is_overdue %}
                <tr class="table-danger">
              {% elif current_workflow.is_notification_date_reached %}
                <tr class="table-warning">
              {% else %}
                <tr>
              {% endif %}
            {% else %}
              <tr>
            {% endif %}
              <td>{{ docapplication.id }}</td>
              <td>
                <a href="{% url 'customer-detail' docapplication.customer.pk %}" class="text-primary font-weight-light">{{ docapplication.customer }}</a>
              </td>
              <td>{{ docapplication.get_application_type_display }}</td>
              <td>
                <a href="{% url 'product-detail' docapplication.product.pk %}" class="text-primary font-weight-light">{{ docapplication.product }}</a>
              </td>
              <td>{{ docapplication.doc_date }}</td>
              <td>{{ docapplication.due_date }}</td>
              {% if docapplication and current_workflow %}
                <td>{{ current_workflow.task }}</td>
                <td>{{ current_workflow.due_date }}</td>
                {% if docapplication.is_application_completed %}
                  <td>{% include "components/model_status_badge.html" with status='closed' %}</td>
                {% else %}
                  <td>{% include "components/model_status_badge.html" with status=current_workflow.status %}</td>
                {% endif %}
              {% else %}
                <td>None</td>
                <td>None</td>
                <td>{% include "components/model_status_badge.html" with status='notstarted' %}</td>
              {% endif %}
              <td>
                <a href="{% url 'customer-application-detail' docapplication.id %}" class="btn btn-primary btn-sm">{% if docapplication.is_application_completed %}View{% else %}Manage{% endif %}</a>
                {% if user|has_perm:'customer_applications,docapplication,change' and not docapplication.is_application_completed %}
                <a href="{% url 'customer-application-update' docapplication.id %}" class="btn btn-warning btn-sm">Edit</a>
                {% endif %}
                {% if user|has_perm:'customer_applications,docapplication,delete' %}
                <a href="{% url 'customer-application-delete' docapplication.id %}" class="btn btn-danger btn-sm">Delete</a>
                {% endif %}
              </td>
            </tr>
          {% endwith %}
        {% endfor %}
      </tbody>
    </table>
    {% include 'components/list_pagination_buttons.html' %}
    {% else %}
    <p>No applications found.</p>
    {% endif %}
  </div>
</div>