{% load check_perms %}
<div class="list_row">
  <tr>
    <td>{{ docapplication.id }}</td>
    <td>{{ docapplication.get_application_type_display }}</td>
    <td>{{ docapplication.product }}</td>
    <td>{{ docapplication.customer }}</td>
    <td>{{ docapplication.doc_date }}</td>
    {% if docapplication and docapplication.current_workflow %}
      <td>{{ docapplication.current_workflow.task }}</td>
      <td>{% include "components/model_status_badge.html" with model=docapplication.current_workflow %}</td>
    {% else %}
      <td>None</td>
      <td><span class="badge badge-secondary">Not Started</span></td>
    {% endif %}
    <td>
      <a href="{% url 'customer-application-detail' docapplication.id %}" class="btn btn-primary btn-sm">{% if docapplication.is_application_completed %}View{% else %}Manage{% endif %}</a>
      {% if user|has_perm:'customer_applications,docapplication,change' and not docapplication.is_application_completed %}
      <a href="{% url 'customer-application-update' docapplication.id %}" class="btn btn-warning btn-sm">Edit</a>
      {% endif %}
      {% if user|has_perm:'customer_applications,docapplication,delete' %}
      <a href="{% url 'customer-application-delete' docapplication.id %}" class="btn btn-danger btn-sm">Delete</a>
      {% endif %}
    </td>
  </tr>
</div>